@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Regular.woff") format("woff"), url("fonts/BasisGrotesquePro-Regular.ttf") format("ttf"), url("fonts/BasisGrotesquePro-Regular.eot") format("eot");
}
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("fonts/BasisGrotesquePro-Light.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Light.woff") format("woff"), url("fonts/BasisGrotesquePro-Light.ttf") format("ttf"), url("fonts/BasisGrotesquePro-Light.eot") format("eot");
  font-weight: 300;
}
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("fonts/BasisGrotesquePro-Bold.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Bold.woff") format("woff"), url("fonts/BasisGrotesquePro-Bold.ttf") format("ttf"), url("fonts/BasisGrotesquePro-Bold.eot") format("eot");
  font-weight: 700;
}
body {
  margin: 0;
  min-width: 425px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12%;
}
.support__block {
  width: 100%;
}
.support__block_right {
  width: 50%;
}
.support__theme {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #0536FC;
  opacity: 0.9;
}
.support__title {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}
.support__text {
  width: 100%;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.35;
}
.support__details {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  max-width: 456px;
  position: relative;
  padding-bottom: 70px;
}
.support__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Basis Grotesque Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  list-style-type: none;
}
.support__summary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
  opacity: 0.15;
}
.support__summary::after {
  content: "+";
  color: #0536FC;
  width: 15px;
}
.support__paragraph {
  margin: 0;
  padding-top: 70px;
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.6;
}

details[open] summary::after {
  content: "-";
}

@media (max-width: 768px) {
  .support {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 5%;
  }
  .support__title {
    font-size: 30px;
  }
  .support__details {
    max-width: 100%;
  }
  .support__block_right {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .support__title {
    font-size: 25px;
  }
}